In [1]:
#Importando a biblioteca Pandas
import pandas as pd

In [2]:
#leitura dos arquivos
df1 = pd.read_excel("Aracaju.xlsx")
df2 = pd.read_excel("Fortaleza.xlsx")
df3 = pd.read_excel("Natal.xlsx")
df4 = pd.read_excel("Recife.xlsx")
df5 = pd.read_excel("Salvador.xlsx")

In [4]:
#Juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [5]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [6]:
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [7]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [8]:
#Alterando o tipo de dados da coluna LojaID
df["LojaID"] = df["LojaID"].astype("object")

In [9]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [10]:
#Consultando linhas com valores faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [12]:
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [13]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [14]:
df["Vendas"].mean()

122.61180089485438

In [ ]:
#Opções de manipulação de dados

In [15]:
#Substituir valores nulos por zero
df["Vendas"].fillna(0, inplace=True)

In [16]:
#Apagar valores nulos em apenas uma coluna
df.dropna(subset=["Vendas"], inplace=True)

In [18]:
#Removendo linhas que estejam com valores faltantes em todas as colunas
df.dropna(how="all", inplace=True)

In [19]:
#Criando a coluna Receita
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [20]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [21]:
#Retornando a maior receita
df["Receita"].max()

3544.0

In [22]:
#Retornando a menor receita
df["Receita"].min()

3.34

In [23]:
df.nlargest(3,"Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0    853     4   3544.0
51  Natal 2018-01-21   859.0    852     4   3436.0
55  Natal 2019-01-08   859.0    854     4   3436.0

In [24]:
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas LojaID  Qtde  Receita
118  Aracaju 2018-01-01    3.34   1522     1     3.34
65    Recife 2019-01-01    4.01    981     1     4.01
92     Natal 2019-01-02    4.57   1035     1     4.57

In [25]:
#Agrupando por cidade
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [26]:
#Ordenando o conjunto de dados
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0    853     4   3544.0
55  Natal 2019-01-08   859.0    854     4   3436.0
51  Natal 2018-01-21   859.0    852     4   3436.0
30  Natal 2018-10-02   856.0    853     4   3424.0
41  Natal 2018-05-20   835.0    852     4   3340.0
38  Natal 2018-02-25   828.0    852     4   3312.0
10  Natal 2018-10-27   828.0    852     4   3312.0
69  Natal 2019-03-24   817.0    852     4   3268.0
62  Natal 2018-02-10   793.0    854     4   3172.0
52  Natal 2018-04-27   778.0    854     4   3112.0